<!--<div class = "userpage">
<ul class = "top">
  <li class = "top"><a class = "top" href="default.asp">Home</a></li>
  <li class = "top"><a class = "top" href="news.asp">News</a></li>
  <li class = "top"><a  class = "top"href="contact.asp">Contact</a></li>
  <li class = "top"><a class = "top" href="about.asp">About</a></li>
</ul>

<ul class = "side">
  <li class = "side"><a class = "side" href="default.asp">Home</a></li>
  <li class = "side"><a class = "side" href="news.asp">News</a></li>
  <li class = "side"><a  class = "side"href="contact.asp">Contact</a></li>
  <li class = "side"><a class = "side" href="about.asp">About</a></li>
</ul>
</div>
<div >
	<section class="library">
        <h1>Music Library</h1>
        <ul class="albums">
          <li class="album current" ng-repeat="album in albums">
            <button class="queue add" ng-click="player.playlist.add(album)"></button>
            <span class="album-title">{{album.title}}</span>
            <span class="artist-name">{{album.artist}}</span>

          </li>
        </ul>
      </section>
</div>

<div class = "userpage">
	<audio id = "mainAudio" autoplay ng-src="{{selectedSongPath}}">
	  <source type="audio/mpeg" />
	</audio>

	<nav>
	          <button class="control play" ng-click="play()" ng-hide="playing" >Play</button>
	          <button class="control pause"ng-click="pause()"  ng-show="playing">Pause</button>
	          <button class="control prev" ng-click="player.previous()">Prev</button>
	          <button class="control next" ng-click="player.next()">Next</button>
	</nav>


	<div  ng-repeat="album in albums">

		<div ng-repeat="track in album.tracks">

	  		<a href="" ng-click="songSelect(track.url); play()" >{{track.title}}</a>

		</div>


	</div>
</div>

-->

<div id="container" class ="userpage">
      <div class="playlist">
        <h1>Playlist</h1>
        <nav>
          <button class="control play" ng-click="player.play()" ng-hide="player.playing">Play</button>
          <button class="control pause" ng-click="player.pause()" ng-show="player.playing">Pause</button>
          <button class="control prev" ng-click="player.previous()">Prev</button>
          <button class="control next" ng-click="player.next()">Next</button>
        </nav>
        <ul class="albums">
          <li class="album" ng-repeat="album in player.playlist"
              ng-class="{current: player.current.album == $index}">
            <button class="queue remove" ng-click="player.playlist.remove(album)"></button>
            <span class="album-title">{{album.title}}</span>
            <span class="artist-name">{{album.artist}}</span>
            <ol class="tracks">
              <li ng-repeat="track in album.tracks" class="track"
                  ng-class="{current: player.current.track == $index}"
                  ng-click="player.play($index, $parent.$index)">{{track.title}}</li>
            </ol>
          </li>
        </ul>
      </div>
      <section class="library">
        <h1>Music Library</h1>
        <ul class="albums">
          <li class="album current" ng-repeat="album in albums">
            <button class="queue add" ng-click="player.playlist.add(album)"></button>
            <span class="album-title">{{album.title}}</span>
            <span class="artist-name">{{album.artist}}</span>
          </li>
        </ul>
      </section>
    </div>

