<!--
<div class="container">
    <div ng-controller="SidebarController" class="sidebar" sidebar-directive="state">
        <a href="#" id="navigation-toggle" ng-click="toggleState()">Navigation</a>
        <ul class="navigation">
            <li class="navigation-items"> <a href="/">Link1</a> </li>
            <li class="navigation-items"> <a href="/">Link2</a> </li>
            <li class="navigation-items"> <a href="/">Link3</a> </li>
            <li class="navigation-items"> <a href="/">Link4</a> </li>
            <li class="navigation-items"> <a href="/">Link4</a> </li>
        </ul>
    </div>
</div>
-->

<div class = "userpage">
  <div class = "nav">
    <div class = "container">
      <ul class = "pull-left">
        <li><a href="#">SkyTunes</a></li>
        <li><a href="#">Browse</a></li>
      </ul>
      <ul class="pull-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">News</a></li>
      </ul>
      </div>
  </div>



<!--<script src="sidebar.js"></script>-->

<!--
  <div class = "jumbotron">
    <duv class = "container">
      <h1>SkyTunes</h1>
      <p>The music at your finger tips<p>
  </div>
-->

<h1>Artists in Your Cloud: </h1>
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span4 horizontal">
        <div class="hero-unit" id="first">

        </div>
        <div class="row-fluid" ng-repeat = "artist in artists">
          <div class="span4" >
            <img ng-src="{{artist.albums[1].cover}}">
            <h3>{{artist.artist}}</h3>

        </div>
      </div>



      </div><!--/span-->
    </div><!--/row-->
  </div>
</div>

    <hr>

    <footer>

    </footer>

<!--
  <div class = "Albums-near-me">
    <div class = "container">
      <h2>Albums in my Cloud</h2>
      <div class = "row">
           <div class = "col-md-4">
               <div class = "thumbnail">
                   <img src="http://hypebeast.com/image/2009/04/dust-la-rock-art-nyc-1.jpg">
               </div>

               <div class = "thumbnail">
                   <img src ="http://img.aceshowbiz.com/images/news/drake-unleashes-nothing-was-the-same-album-cover.jpg">
               </div>

           </div>

           <div class = "col-md-4">
               <div class = "thumbnail">
                   <img src="http://cdn.pitchfork.com/news/51403/18306fb8.jpg">
               </div>

               <div class = "thumbnail">
                   <img src ="http://www.billboard.com/files/styles/gallery_main_well/public/media/04-Fetty-Wap-Fetty-Wap-best-album-art-2015-billboard-1500.jpg">
               </div>
           </div>

           <div class = "col-md-4">
               <div class = "thumbnail">
                   <img src ="http://cdn.pastemagazine.com/www/system/images/photo_albums/albums-gallery/large/twenty-one-pilots---blurryface.png?1384968217">
               </div>
           </div>

       </div>
    </div>
  </div>
-->

  <div id="container" class ="userpage">
        <div class="playlist">
          <h1>Playlist</h1>
          <nav>
            <button class="control play" ng-click="player.play()" ng-hide="player.playing">Play</button>
            <button class="control pause" ng-click="player.pause()" ng-show="player.playing">Pause</button>
            <button class="control prev" ng-click="player.previous()">Prev</button>
            <button class="control next" ng-click="player.next()">Next</button>
          </nav>
          <ul class="albums">
            <li class="album" ng-repeat="album in player.playlist"
                ng-class="{current: player.current.album == $index}">
              <button class="queue remove" ng-click="player.playlist.remove(album)"></button>
              <span class="album-title">{{album.title}}</span>
              <span class="artist-name">{{album.artist}}</span>
              <ol class="tracks">
                <li ng-repeat="track in album.tracks" class="track"
                    ng-class="{current: player.current.track == $index}"
                    ng-click="player.play($index, $parent.$index)">{{track.title}}</li>
              </ol>
            </li>
          </ul>
        </div>
        <section class="library">
          <h1>Music Library</h1>
          <ul class="albums">
            <li class="album current" ng-repeat="album in albums">
              <button class="queue add" ng-click="player.playlist.add(album)"></button>
              <span class="album-title">{{album.title}}</span>
              <span class="artist-name">{{album.artist}}</span>
            </li>
          </ul>
        </section>
      </div>



</div>
